/* Universal Styles */

html {
  font-size: 16px;
  font-family: Helvetica, san-serif;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;

}


/* Header */
.banner {
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
}

.logo span {
  font-size: 1rem;
  padding: 1rem .66rem;
}

.logo img {
  height: 1.5rem;
  padding-left: .5rem;
}

.pix {
  height: 25rem;
  background-image: url("moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pix .container {
  display: flex;
}

.arrival {
  width: 20rem;
  margin-top: 9rem;
  background-color: black;
  color: white;
}

.arrival h4 {
  padding: 2rem 3rem .25rem 3rem;
}

.arrival h1 {
  padding-left: 3rem;
  padding-bottom: 2rem;
}

nav {
  background-color: firebrick;
  width: 100%;
}

nav span {
  visibility: hidden;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: .75rem 0;
}

/* Store */

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3rem auto;
}

.pen, .watch, .glasses {
  text-align: center;
  width: 30%;
  border: solid black 4px;
}

.pen img, .watch img, .glasses img {
  height: 9rem;
  margin: 2rem auto;
}

.glasses img {
  max-width: 80%;
}

.pen h4, .watch h4, .glasses h4 {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: black;
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3rem auto;
}

.location, .hours {
  width: 35%;
}

.location h4, .hours h4 {
  background-color: black;
  padding: 1rem 2rem;
  color: white;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 4rem;
  background-color: black;
  color: white;
}

.footer .container {
  border: solid yellow 1px;
  max-width: 960px;
  width: 100%;
}


/* Screen tablet size - 768px or less */

@media only screen and (max-width: 768px) {

  nav ul {
    display: none;
  }

  nav .container {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  nav span {
    visibility: visible;
    color: white;
  }



 .glasses {
    display: none;
  }

  .pen, .watch {
    width: 47%;
  }
}


/* Screen phone size - 460px or less */

@media only screen and (max-width: 460px) {

  .arrival h4 {
    font-size: .77rem;
  }
  .arrival h1 {
    font-size: 1rem;
  }


.glasses, .watch {
  display: none;
}

.product {
  display: flex;
  justify-content: center;
}

.info {
  dispaly: flex;
  flex-direction: column;
}

.pen, .location, .hours {
  width: 90%;
}
.hours {
  margin-top: .5rem;
}

.pix {
  height: 15rem;
}

.arrival {
  margin-top: 10rem;
  width: 100%;
}


.arrival h1 {
  font-size: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.arrival h4 {
  font-size: .77rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
}
